<ul id="navigation">
    
            <li class="write"><a href="/semiolabs/web/gestion" title="Write"></a></li>
            <li class="liste"><a href="/semiolabs/web/liste" title="List"></a></li>
            <li class="mostview"><a href="/semiolabs/web/mostview" title="MostView"></a></li>
            <li class="authors"><a href="/semiolabs/web/author" title="Author"></a></li>
            <li class="logout"><a href="/semiolabs/web/logout" title="Logout"></a></li> 
            
</ul>

        