<ul id="navigation">
    
            <li class="write"><a href="gestion" title="Write"></a></li>
            <li class="liste"><a href="liste" title="List"></a></li>
            <li class="logout"><a href="logout" title="Logout"></a></li> 
            
</ul>

        